<?xml version="1.0" encoding="UTF-8"?>

<!-- 

/*
 * Copyright (C) 2010-2011 
 * 							fine people e.V. <opensdx@fnppl.org> 
 * 							Henning Thieß <ht@fnppl.org>
 * 
 * 							http://fnppl.org
*/

/*
 * Software license
 *
 * As far as this file or parts of this file is/are software, rather than documentation, this software-license applies / shall be applied.
 *  
 * This file is part of openSDX
 * openSDX is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Lesser General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * openSDX is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU Lesser General Public License
 * and GNU General Public License along with openSDX.
 * If not, see <http://www.gnu.org/licenses/>.
 *      
 */

/*
 * Documentation license
 * 0
 * As far as this file or parts of this file is/are documentation, rather than software, this documentation-license applies / shall be applied.
 * 
 * This file is part of openSDX.
 * Permission is granted to copy, distribute and/or modify this document 
 * under the terms of the GNU Free Documentation License, Version 1.3 
 * or any later version published by the Free Software Foundation; 
 * with no Invariant Sections, no Front-Cover Texts, and no Back-Cover Texts. 
 * A copy of the license is included in the section entitled "GNU 
 * Free Documentation License" resp. in the file called "FDL.txt".
 * 
 */

 -->

<opensdxsecurity>
<defaultkeyservers>		
    <keyserver>
      <host>keyserver.fnppl.org</host>
      <port>80</port>
      
      <knownkeys>
        <pubkey>
  <keyid>85:53:DF:47:FB:F6:C9:9D:07:78:B7:C8:D3:0E:DB:DB:22:BB:E4:17@keyserver.fnppl.org</keyid>
  <level>MASTER</level>
  <usage>ONLYSIGN</usage>
  <valid_from>2011-06-26 17:15:19 GMT+00:00</valid_from>
  <valid_until>2036-06-25 23:15:19 GMT+00:00</valid_until>
  <algo>RSA</algo>
  <bits>3072</bits>
  <modulus>00D69A6C70EEBD1E16DD1AEE40F136D43F0CEA11C484D6BF9B1C0B7644F5A466C7272047F1FCF099E6A50300317D35E0FACA98445FEC735B0756727FDB9E77E5307DABC10380BCE41655F01C690C731D81C0BAABB70DFC21BFCBBD87B85F84DD92A8F3834C6529CB8BDF8E3A6BD68AB9827DEC285B357FB82AF34066BD2147C1DC4D3E5D2B64820E12299C8F84D67C76513E53238C2DC02B8FAB2238C7C0FF62FE29DFC9764216F743573E8E0A2F51665140EB2E655EA79C590DBEC18C222328EA4C293C2A1F4305E4D1FC1CB95A877464B3C315CA7113FA36246CEE402CA61E117197D162716F386A33780178BFDC2FE52DD6F57DE6CA8109181E748FE07DA9FF2E55AB2C10A20B36940974D23FB28AE5464D50C0C642896F6DC3A8B9C04ABC14B5D6F3D8325BC1A4ABBFDD5028640EB5A3683D4E6C466741B32B911B9785CEF57A6F38231A7880F340DC5C760171B38197E8328A4BD793F84739AA53EFA68F84C38FDA8FD92B2536684B4429B29DBF78277FECB00CCB09862F0D3A06F5A82709</modulus>
  <exponent>0x010001</exponent>
</pubkey>

      </knownkeys>
    </keyserver>
</defaultkeyservers>

<!--  from here downwards - basically ignored... -->	
	<knownapprovedkeys>
	</knownapprovedkeys>
	
	<sha1localproof>akakakak</sha1localproof><!-- sha1 over all above sha1localproofs -->
	
	<signature>
		<data>
			<md5>kalksdlkad</md5><!-- the md5(sha1localproof-bytes) ; optional, but should be there ; there MUST be one data-hash-value given (md5, sha1 or sha256 - recommended to provide all three
-->
			<sha1>adadasdasd</sha1><!-- the sha1(sha1localproof-bytes) ; optional, but should be there ; there MUST be one data-hash-value given (md5, sha1 or sha256 - recommended to provide all three
-->
			<sha256>adadasdasd</sha256><!-- the sha256(sha1localproof-bytes) ; optional, but should be there ; there MUST be one data-hash-value given (md5, sha1 or sha256 - recommended to provide all three
-->
			<signdatetime>2011-01-01 23:20:00 GMT+00:00</signdatetime><!-- MUST -->
			<dataname>kaldad</dataname><!-- optional dataname -->
		</data>
		<signoff>
			<keyid>kjakdjadkjajd@keys.fnppl.org</keyid>
			<pubkey>
				<algo>RSA</algo><!-- RSA ; others not implemented yet -->
				<bits>3072</bits><!-- well, yes, count yourself, but nice to *see* it -->
				<modulus></modulus><!-- as hex-string with or without leading 0x ; only for RSA?! -->
				<exponent></exponent><!-- as hex-string with or without leading 0x -->
			</pubkey><!-- given, but should be verified from server/yourself... -->
			<signaturebytes>asdasd</signaturebytes><!-- as hex-string with ":" or " " separation... looks nicer... -->
		</signoff>
	</signature>
</opensdxsecurity>

